tr {
    /*display: block;*/
    /*height: 120px;*/
    /*overflow: hidden;*/
    position: relative;

    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.repeat.ng-enter {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    /* The animation preparation code */
    opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.repeat.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
}
/*
repeat.ng-enter.ng-enter-active, 
.repeat.ng-leave {

    -webkit-transition: 2s linear all;
    -moz-transition: 2s linear all;
    -o-transition: 2s linear all;
    transition: 2s linear all;
    opacity: 0;
}

.repeat.ng-enter-active {
    opacity: 1;
}*/


.number {
    -webkit-transition: 0.5s linear all;
    -transition: 0.5s linear all;
}
.number.ng-enter {
    opacity: 0;
}
.number.ng-enter-active {
    opacity: 1;
}


.sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
    display:block!important;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
    opacity:0;
}

.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}


.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}