.anscheck {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: whitesmoke;
    border: 2px solid #c5c5c5;
    display: inline-block;
    height: 20px;
    margin-right: 10px !important;
    position: relative;
    width: 20px;
    top: -3px;
}

li{
    list-style: none;
}
ul.author-block {
    width: 100%;
}
h4 {
    color: #012951;
    font-size: 18px;
    /*font-weight: bold;*/

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
/*[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}*/

.editable-click{
    font-size:30px;

}

