{% extends "HomeBundle::layout.html.twig"%}
{% block stylesheets %}
    {{- parent() -}}
    {% stylesheets 
                'bundles/mnmquiz/css/animations.css'
                'bundles/mnmquiz/css/xeditable.css'                
                'bundles/mnmquiz/css/custom.css'
   filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script>
        var quizNr = {{-quizDue-}};
        var _date ="{{-dueDateTime-}}";
    </script>
{% endblock %}
{% block container %} {#Remaining <strong>{{remaining()}}</strong> of <strong>{{quiz.QUESTIONS.length}}</strong>#}
    {% verbatim %}
        <div  ng-app="quiz" ng-controller="QuizCtrl"  class="col-md-12" ng-cloak>
            <pre ng-cloak>{{infomessage}}</pre>
            <ui-view>
                <section class="course-detail sample-show-hide" ng-show="!submitted">
                    <div class="tab-content course-tab-content">
                        <div class="tab-pane fade in active">
                            <section class="course-schedule">
                                <div class="course-count-down"  ng-hide=got>
                                    <figure class="course-start">Homework {{quiz}} due  in:</figure>
                                    <!-- /.course-start -->
                                    <div class="count-down-wrapper">
                                        <script type="text/javascript"> _date;</script>
                                    </div><!-- /.count-down-wrapper -->
                                    <a ng-click="getquiz()" ng-hide=got class="btn btn-smal"><i class="fa fa-pencil fa-2x"></i>Do The Homework Now</a>
                                </div><!-- /.course-count-down -->
                                <div ng-repeat="quiz in items" class="repeat" >
                                    <h1 ng-cloak style="margin-bottom:0px">{{quiz.TOPIC}}</h1>   
                                    <ul ng-repeat="(keyQ,question) in quiz.QUESTIONS" class="author-block">
                                        <li><h4 ng-cloak><b>{{question.NUMBER}} </b>{{question.QUESTION}}</h4>
                                            <ul ng-if="question.ANSWERS">
                                                <li ng-repeat="(key,ans) in question.ANSWERS">
                                                    <label>
                                                        <input type="radio" name="{{question.NUMBER}}" class="anscheck" ng-click="select(question.NUMBER ,key)">{{key}}) {{ans}}
                                                    </label>
                                                </li>
                                            </ul>
                                            <div ng-if="question.BOX" >
                                                <img ng-src="{{question.IMAGE}}" class="pull-right" ng-cloak>
                                                <div class="col-md-6" style="min-height: 72px;">
                                                    <div class="input-group">
                                                        <div class="controls">

                                                            <a href="#" editable-text="answer" onbeforesave="textans(question.NUMBER,$data)" ng-cloak>
                                                                {{ answer || "Click here  to set the answer "}}</a>

                                                        </div><!-- /.controls -->
                                                    </div><!-- /.control-group -->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <a ng-click="submitquiz()"  ng-hide="submitted||!got" class="btn btn-color-primary"><i class="fa fa-check fa-2x"></i>Submit The Homework Now</a>
                            </section>
                        </div>
                    </div>
                </section>
            </ui-view>
        </div>



    {% endverbatim %}
    {#      <input type="text" name="answer" style="width:60px"  ng-model="answer" ng-keyup="textans(question.NUMBER,answer)">#}
{% endblock%}
{% block javascripts %}
    {{- parent() -}}

    {%javascripts
                '@MnmQuizBundle/Resources/public/js/angular.js'
                '@MnmQuizBundle/Resources/public/js/xeditable.js'
                '@MnmQuizBundle/Resources/public/js/angular-animate.js'
                '@MnmQuizBundle/Resources/public/js/app.js'
                
                
    %}

    <script  src="{{-asset_url-}}" ></script>


    {#<script type="text/javascript"  src="{{- asset('bundles/home/js/sticky.js') -}}"></script>#}
    {%endjavascripts %}
{% endblock %}
