{% extends "HomeBundle::layout.html.twig"%}
{% block stylesheets %}
    {{- parent() -}}
    {% stylesheets 
                'bundles/mnmquiz/css/animations.css'
                'bundles/mnmquiz/css/xeditable.css'                
                'bundles/mnmquiz/css/custom.css'
   filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script>
        var isSubmitted
        = {{isSubmitted}};
                var quizNr = 0;
        var classNr = {{app.request.get('classNr')}};
    </script>
{% endblock %}
{% block container %} {#Remaining <strong>{{remaining()}}</strong> of <strong>{{quiz.QUESTIONS.length}}</strong>#}
    {% verbatim %}
        <div ng-cloak ng-app="quiz" ng-controller="QuizCtrl"  class="col-md-12" >
            <pre >{{infomessage}}</pre>
            <ui-view>
                <section class="course-detail" ng-show="!submitted">
                    <div class="tab-content course-tab-content">
                        <div class="tab-pane fade in active">
                            <section class="course-schedule">

                                <div ng-repeat="quiz in items" class="repeat"  >
                                    <h1  style="margin-bottom:0px">{{quiz.TOPIC}}</h1>   
                                    <ul ng-repeat="(keyQ,question) in quiz.QUESTIONS" class="author-block">
                                        <li><h4 ><b>{{question.NUMBER}} </b>{{question.QUESTION}}</h4>
                                            <ul ng-if="question.ANSWERS">
                                                <li ng-repeat="(key,ans) in question.ANSWERS">
                                                    <label>
                                                        <input type="radio" name="{{question.NUMBER}}" class="anscheck" ng-click="select(question.NUMBER ,key)">{{key}}) {{ans}}
                                                    </label>
                                                </li>
                                            </ul>
                                            <div ng-if="question.BOX" >
                                                <img ng-src="{{question.IMAGE}}" class="pull-right" >
                                                <div class="col-md-6" style="min-height: 72px;">
                                                    <div class="input-group">
                                                        <div class="controls">

                                                            <a href="#" editable-text="answer" onbeforesave="textans(question.NUMBER,$data)" >
                                                                {{ answer || "Click here  to set the answer "}}</a>

                                                        </div><!-- /.controls -->
                                                    </div><!-- /.control-group -->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <a ng-click="submitquiz()"  class="btn btn-color-primary"><i class="fa fa-check fa-2x"></i>Check your answers</a>
                            </section>
                        </div>
                    </div>
                </section>
            </ui-view>
        </div>



    {% endverbatim %}
    {#      <input type="text" name="answer" style="width:60px"  ng-model="answer" ng-keyup="textans(question.NUMBER,answer)">#}
{% endblock%}
{% block javascripts %}
    {{- parent() -}}

    {%javascripts
                '@MnmQuizBundle/Resources/public/js/angular.js'
                '@MnmQuizBundle/Resources/public/js/xeditable.js'
                '@MnmQuizBundle/Resources/public/js/angular-animate.js'
                '@MnmQuizBundle/Resources/public/js/appSafety.js'
                '@MnmQuizBundle/Resources/public/js/radSafety.json'
                
                
    %}

    <script  src="{{-asset_url-}}" ></script>


    {#<script type="text/javascript"  src="{{- asset('bundles/home/js/sticky.js') -}}"></script>#}
    {%endjavascripts %}
{% endblock %}
